/* Disable select for span, anchor and image tags */
span,
a,
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Remove textarea autoresize */
textarea {
  resize: none;
  overflow-y: scroll;
}

/* Fade transition between pages */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Color transition when switching to dark/light mode */
body * {
  @apply transition-colors duration-100;
}
